In [195]:
import pandas as pd
import numpy as np

## Read Tempdatasets

In [138]:
# read csv file as dataframe, and drop ROW_ID column
def read_csv_no_rowid(file_path):
    df = pd.read_csv(file_path)
    df.drop(["Unnamed: 0", 'ROW_ID'], axis=1, inplace=True)

    return df

In [139]:
# transfer datetype
def to_datetime(df):
    df

### Patients

In [140]:
random_patients_df = read_csv_no_rowid("./temp_sets/patients.csv")

In [141]:
# Drop useless colums
random_patients_df.drop(['DOD', 'EXPIRE_FLAG'], axis=1, inplace=True)

In [142]:
# Transfer some date type

random_patients_df['DOB'] = pd.to_datetime(random_patients_df['DOB'])
# random_patients_df['DOD'] = pd.to_datetime(random_patients_df['DOD'])
random_patients_df['DOD_HOSP'] = pd.to_datetime(random_patients_df['DOD_HOSP'])
random_patients_df['DOD_SSN'] = pd.to_datetime(random_patients_df['DOD_SSN'])

In [143]:
random_patients_df.head()

   SUBJECT_ID GENDER        DOB DOD_HOSP    DOD_SSN
0       21830      M 2026-07-18      NaT 2111-08-23
1       18800      M 2108-12-07      NaT        NaT
2        4929      F 2060-09-26      NaT        NaT
3       12704      M 2102-08-19      NaT 2169-08-10
4       17653      F 1809-11-18      NaT        NaT

In [144]:
random_patients_df.dtypes

SUBJECT_ID             int64
GENDER                object
DOB           datetime64[ns]
DOD_HOSP      datetime64[ns]
DOD_SSN       datetime64[ns]
dtype: object

### Admissions

In [145]:
admissions_sample_df = read_csv_no_rowid("./temp_sets/admissions.csv")

In [164]:
admissions_sample_df.

SUBJECT_ID               int64
HADM_ID                  int64
ADMITTIME               object
DISCHTIME               object
DEATHTIME               object
ADMISSION_TYPE          object
ADMISSION_LOCATION      object
DISCHARGE_LOCATION      object
INSURANCE               object
LANGUAGE                object
RELIGION                object
MARITAL_STATUS          object
ETHNICITY               object
EDREGTIME               object
EDOUTTIME               object
DIAGNOSIS               object
HOSPITAL_EXPIRE_FLAG     int64
HAS_CHARTEVENTS_DATA     int64
dtype: object

In [199]:
admissions_sample_df.loc[pd.isna(admissions_sample_df['DEATHTIME']) == False]

,SUBJECT_ID,HADM_ID,ADMITTIME,DISCHTIME,DEATHTIME,ADMISSION_TYPE,ADMISSION_LOCATION,DISCHARGE_LOCATION,INSURANCE,LANGUAGE,RELIGION,MARITAL_STATUS,ETHNICITY,EDREGTIME,EDOUTTIME,DIAGNOSIS,HOSPITAL_EXPIRE_FLAG,HAS_CHARTEVENTS_DATA
8,7621,159263,2150-10-29 20:00:00,2150-11-19 08:30:00,2150-11-19 08:30:00,EMERGENCY,TRANSFER FROM HOSP/EXTRAM,DEAD/EXPIRED,Medicare,SPAN,CATHOLIC,SINGLE,HISPANIC OR LATINO,NaN,NaN,S/P KIDNEY TRANSPLANT;FEVER,1,1
12,20413,163363,2121-02-24 23:30:00,2121-03-15 03:30:00,2121-03-15 03:30:00,EMERGENCY,TRANSFER FROM HOSP/EXTRAM,DEAD/EXPIRED,Government,NaN,CATHOLIC,DIVORCED,WHITE,NaN,NaN,OBSTRUCTIVE JAUNDICE\ERCP,1,1
25,46845,133885,2174-11-01 15:33:00,2174-11-09 11:00:00,2174-11-09 11:00:00,EMERGENCY,EMERGENCY ROOM ADMIT,DEAD/EXPIRED,Medicare,ENGL,JEWISH,WIDOWED,WHITE,2174-11-01 09:39:00,2174-11-01 17:11:00,ALTERED MENTAL STATUS,1,1
29,16868,107126,2136-01-26 13:02:00,2136-02-26 03:39:00,2136-02-26 03:39:00,EMERGENCY,EMERGENCY ROOM ADMIT,DEAD/EXPIRED,Medicare,NaN,UNOBTAINABLE,NaN,WHITE,2136-01-26 08:46:00,2136-01-26 15:30:00,ATRIAL FIBRILLATION,1,1
39,3969,147237,2152-06-04 02:56:00,2152-06-13 14:28:00,2152-06-13 14:28:00,EMERGENCY,EMERGENCY ROOM ADMIT,DEAD/EXPIRED,Medicare,ENGL,CATHOLIC,MARRIED,BLACK/AFRICAN AMERICAN,2152-06-04 01:16:00,2152-06-04 04:57:00,DIABETIC KETOACIDOSIS,1,1
67,19208,139248,2140-01-11 10:46:00,2140-01-15 05:01:00,2140-01-15 05:01:00,EMERGENCY,EMERGENCY ROOM ADMIT,DEAD/EXPIRED,Medicare,NaN,OTHER,WIDOWED,WHITE,2140-01-11 08:11:00,2140-01-11 11:12:00,CONGESTIVE HEART FAILURE,1,1
80,46324,138604,2126-05-06 22:37:00,2126-05-07 09:43:00,2126-05-07 09:43:00,EMERGENCY,CLINIC REFERRAL/PREMATURE,DEAD/EXPIRED,Private,ENGL,NOT SPECIFIED,MARRIED,MIDDLE EASTERN,2126-05-06 19:44:00,2126-05-07 00:02:00,PNEUMONIA;RENAL FAILURE,1,1
111,8011,167813,2176-10-03 08:30:00,2176-11-08 05:40:00,2176-11-08 05:40:00,ELECTIVE,PHYS REFERRAL/NORMAL DELI,DEAD/EXPIRED,Medicare,NaN,CATHOLIC,WIDOWED,WHITE,NaN,NaN,AMPULLARY MASS/SDA,1,1
112,53252,189277,2100-09-13 16:07:00,2100-09-13 21:20:00,2100-09-13 21:20:00,EMERGENCY,CLINIC REFERRAL/PREMATURE,DEAD/EXPIRED,Medicare,ENGL,NOT SPECIFIED,NaN,WHITE,NaN,NaN,TAMPONADE,1,1

In [147]:
# Drop useless colums
# admissions_sample_df.drop(['ROW_ID'], axis=1, inplace=True)

In [200]:
admissions_sample_df['ADMITTIME'] = pd.to_datetime(admissions_sample_df['ADMITTIME'])
admissions_sample_df['DISCHTIME'] = pd.to_datetime(admissions_sample_df['DISCHTIME'])
admissions_sample_df['DEATHTIME'] = pd.to_datetime(admissions_sample_df['DEATHTIME'])
admissions_sample_df['EDREGTIME'] = pd.to_datetime(admissions_sample_df['EDREGTIME'])
admissions_sample_df['EDOUTTIME'] = pd.to_datetime(admissions_sample_df['EDOUTTIME'])

In [201]:
admissions_sample_df.dtypes

SUBJECT_ID                       int64
HADM_ID                          int64
ADMITTIME               datetime64[ns]
DISCHTIME               datetime64[ns]
DEATHTIME               datetime64[ns]
ADMISSION_TYPE                  object
ADMISSION_LOCATION              object
DISCHARGE_LOCATION              object
INSURANCE                       object
LANGUAGE                        object
RELIGION                        object
MARITAL_STATUS                  object
ETHNICITY                       object
EDREGTIME               datetime64[ns]
EDOUTTIME               datetime64[ns]
DIAGNOSIS                       object
HOSPITAL_EXPIRE_FLAG             int64
HAS_CHARTEVENTS_DATA             int64
dtype: object

In [150]:
callout_sample_df = read_csv_no_rowid("./temp_sets/callout.csv")

In [151]:
icustays_sample_df = read_csv_no_rowid("./temp_sets/icustays.csv")

In [152]:
services_sample_df = read_csv_no_rowid("./temp_sets/services.csv")

In [153]:
transfers_sample_df = read_csv_no_rowid("./temp_sets/transfers.csv")

---

## Combine samples

In [154]:
patients_df = pd.merge(random_patients_df.drop('ROW_ID', axis=1), admissions_sample_df.drop('ROW_ID', axis=1), on=['SUBJECT_ID'], how='outer')

KeyError: "['ROW_ID'] not found in axis"

In [ ]:
patients_df = pd.merge(patients_df, callout_sample_df.drop('ROW_ID', axis=1), on=['SUBJECT_ID', 'HADM_ID'], how='outer')

In [ ]:
patients_df = pd.merge(patients_df, icustays_sample_df.drop('ROW_ID', axis=1), on=['SUBJECT_ID', 'HADM_ID'], how='outer')

In [ ]:
patients_df = pd.merge(patients_df, services_sample_df.drop('ROW_ID', axis=1), on=['SUBJECT_ID', 'HADM_ID'], how='outer')

In [ ]:
patients_df = pd.merge(patients_df, icustays_sample_df.drop(['ROW_ID', 'ICUSTAY_ID', 'DBSOURCE', 'FIRST_CAREUNIT', 'LAST_CAREUNIT', 'FIRST_WARDID', \
                                                'LAST_WARDID', 'INTIME', 'OUTTIME', 'LOS'], axis=1), on=['SUBJECT_ID', 'HADM_ID'], how='outer')

In [ ]:
patients_df = pd.merge(patients_df, transfers_sample_df.drop(['ROW_ID', 'ICUSTAY_ID', 'DBSOURCE', 'CURR_CAREUNIT', 'CURR_WARDID', \
                                                'INTIME', 'OUTTIME', 'LOS'], axis=1), on=['SUBJECT_ID', 'HADM_ID'], how='outer')

In [ ]:
patients_df.to_csv("patients_info.csv")

In [ ]:
patients_df

,SUBJECT_ID,GENDER,DOB,DOD,DOD_HOSP,DOD_SSN,EXPIRE_FLAG,HADM_ID,ADMITTIME,DISCHTIME,...,LAST_WARDID,INTIME,OUTTIME,LOS,TRANSFERTIME,PREV_SERVICE,CURR_SERVICE,EVENTTYPE,PREV_CAREUNIT,PREV_WARDID
0,21830,M,2026-07-18,2111-08-23,NaN,2111-08-23,1,123054,2108-10-26 21:35:00,2108-11-14 17:00:00,...,15.0,2108-10-29 03:53:21,2108-11-03 17:30:14,5.5673,2108-10-26 21:36:56,NaN,CMED,admit,NaN,NaN
1,21830,M,2026-07-18,2111-08-23,NaN,2111-08-23,1,123054,2108-10-26 21:35:00,2108-11-14 17:00:00,...,15.0,2108-10-29 03:53:21,2108-11-03 17:30:14,5.5673,2108-10-26 21:36:56,NaN,CMED,transfer,MICU,15.0
2,21830,M,2026-07-18,2111-08-23,NaN,2111-08-23,1,123054,2108-10-26 21:35:00,2108-11-14 17:00:00,...,15.0,2108-10-29 03:53:21,2108-11-03 17:30:14,5.5673,2108-10-26 21:36:56,NaN,CMED,transfer,NaN,17.0
3,21830,M,2026-07-18,2111-08-23,NaN,2111-08-23,1,123054,2108-10-26 21:35:00,2108-11-14 17:00:00,...,15.0,2108-10-29 03:53:21,2108-11-03 17:30:14,5.5673,2108-10-26 21:36:56,NaN,CMED,transfer,NaN,24.0
4,21830,M,2026-07-18,2111-08-23,NaN,2111-08-23,1,123054,2108-10-26 21:35:00,2108-11-14 17:00:00,...,15.0,2108-10-29 03:53:21,2108-11-03 17:30:14,5.5673,2108-10-26 21:36:56,NaN,CMED,discharge,NaN,29.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1158,8499,F,2083-12-04,NaN,NaN,NaN,0,130407,2115-02-25 21:34:00,2115-03-05 17:47:00,...,33.0,2115-02-26 01:32:35,2115-03-04 18:31:56,6.7079,2115-02-25 21:34:33,NaN,SURG,transfer,NaN,49.0
1159,8499,F,2083-12-04,NaN,NaN,NaN,0,130407,2115-02-25 21:34:00,2115-03-05 17:47:00,...,33.0,2115-02-26 01:32:35,2115-03-04 18:31:56,6.7079,2115-02-25 21:34:33,NaN,SURG,transfer,NaN,54.0
1160,52815,F,2101-10-24,NaN,NaN,NaN,0,133558,2173-10-18 13:40:00,2173-10-22 14:55:00,...,57.0,2173-10-18 13:41:31,2173-10-19 18:06:50,1.1842,2173-10-18 13:41:31,NaN,MED,admit,NaN,NaN
1161,52815,F,2101-10-24,NaN,NaN,NaN,0,133558,2173-10-18 13:40:00,2173-10-22 14:55:00,...,57.0,2173-10-18 13:41:31,2173-10-19 18:06:50,1.1842,2173-10-18 13:41:31,NaN,MED,discharge,NaN,4.0
1162,52815,F,2101-10-24,NaN,NaN,NaN,0,133558,2173-10-18 13:40:00,2173-10-22 14:55:00,...,57.0,2173-10-18 13:41:31,2173-10-19 18:06:50,1.1842,2173-10-18 13:41:31,NaN,MED,transfer,SICU,57.0