In [1]:
from sdv import load_demo
from sdv import Metadata

In [2]:
tables = load_demo()

In [3]:
tables['users']

   user_id country gender  age
0        0      US      M   34
1        1      UK      F   23
2        2      ES   None   44
3        3      UK      M   22
4        4      US      F   54
5        5      DE      M   57
6        6      BG      F   45
7        7      ES   None   41
8        8      FR      F   23
9        9      UK   None   30

In [4]:
tables['sessions']

   session_id  user_id  device       os  minutes
0           0        0  mobile  android       23
1           1        1  tablet      ios       12
2           2        2  tablet  android        8
3           3        3  mobile  android       13
4           4        4  mobile      ios        9
5           5        5  mobile  android       32
6           6        6  mobile      ios        7
7           7        7  tablet      ios       21
8           8        8  mobile      ios       29
9           9        9  tablet      ios       34

In [5]:
tables['transactions']

   transaction_id  session_id           timestamp  amount  cancelled
0               0           0 2019-01-01 12:34:32   100.0      False
1               1           1 2019-01-01 12:42:21    55.3      False
2               2           2 2019-01-07 17:23:11    79.5      False
3               3           3 2019-01-10 11:08:57   112.1       True
4               4           4 2019-01-10 21:54:08   110.0       True
5               5           5 2019-01-11 11:21:20    76.3      False
6               6           6 2019-01-22 14:44:10    89.5      False
7               7           7 2019-01-23 10:14:09   132.1       True
8               8           8 2019-01-27 16:09:17    68.0      False
9               9           9 2019-01-29 12:10:48    99.9      False

In [6]:
metadata = Metadata()
metadata

Metadata
  root_path: .
  tables: []
  relationships:

In [7]:
metadata.add_table(name='users', data=tables['users'], primary_key='user_id')

In [8]:
metadata.visualize()

In [10]:
metadata.get_table_meta('users')

{'fields': {'user_id': {'type': 'id', 'subtype': 'integer'},
  'country': {'type': 'categorical'},
  'gender': {'type': 'categorical'},
  'age': {'type': 'numerical', 'subtype': 'integer'}},
 'primary_key': 'user_id'}

In [15]:
metadata.add_table(name='sessions', data=tables['sessions'], primary_key='session_id', parent='users', foreign_key='user_id')

In [16]:
transactions_fields = {
    'timestamp': {
    'type': 'datetime',
    'format': '%Y-%m-%d'
    }
}

In [17]:
metadata.add_table(name='transactions', data=tables['transactions'], fields_metadata=transactions_fields, primary_key='transaction_id', parent='sessions')

In [18]:
metadata.visualize()

In [19]:
metadata.to_dict()

{'tables': {'users': {'fields': {'user_id': {'type': 'id',
     'subtype': 'integer'},
    'country': {'type': 'categorical'},
    'gender': {'type': 'categorical'},
    'age': {'type': 'numerical', 'subtype': 'integer'}},
   'primary_key': 'user_id'},
  'sessions': {'fields': {'session_id': {'type': 'id', 'subtype': 'integer'},
    'user_id': {'type': 'id',
     'subtype': 'integer',
     'ref': {'table': 'users', 'field': 'user_id'}},
    'device': {'type': 'categorical'},
    'os': {'type': 'categorical'},
    'minutes': {'type': 'numerical', 'subtype': 'integer'}},
   'primary_key': 'session_id'},
  'transactions': {'fields': {'timestamp': {'type': 'datetime',
     'format': '%Y-%m-%d'},
    'transaction_id': {'type': 'id', 'subtype': 'integer'},
    'session_id': {'type': 'id',
     'subtype': 'integer',
     'ref': {'table': 'sessions', 'field': 'session_id'}},
    'amount': {'type': 'numerical', 'subtype': 'float'},
    'cancelled': {'type': 'boolean'}},
   'primary_key': 'transaction_id'}}}

---

In [20]:
from sdv.relational import HMA1

In [22]:
model1 = HMA1(metadata)

In [23]:
model1.fit(tables)

d:\Environment\anaconda3\envs\msc_project\lib\site-packages\sdv\relational\hma.py:255: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  table.reset_index(inplace=True)

In [24]:
new_data = model1.sample()

In [25]:
new_data

{'users':    user_id country gender  age
 0        0      US      F   37
 1        1      US      F   29
 2        2      UK      M   37
 3        3      DE    NaN   42
 4        4      ES    NaN   53
 5        5      BG      M   22
 6        6      US      M   47
 7        7      ES      M   30
 8        8      UK      M   38
 9        9      ES      M   52,
 'sessions':    session_id  user_id  device       os  minutes
 0           0        0  mobile  android       17
 1           1        1  mobile      ios        7
 2           2        2  mobile  android        7
 3           3        3  tablet  android       15
 4           4        4  mobile  android       31
 5           5        5  mobile  android       33
 6           6        6  tablet  android       13
 7           7        7  mobile  android        7
 8           8        8  tablet  android        7
 9           9        9  mobile      ios       31,
 'transactions':             timestamp  transaction_id  session_id  amount  cancelled
 0 2019-01-01 12:34:32               0           0    84.6      False
 1 2019-01-09 08:36:38               1           1    77.6      False
 2 2019-01-01 12:34:32               2           2    88.0      False
 3 2019-01-17 11:10:21               3           3   108.5      False
 4 2019-01-17 23:28:56               4           4   108.2      False
 5 2019-01-05 18:34:53               5           5    56.0      False
 6 2019-01-01 12:34:32               6           6    59.7      False
 7 2019-01-03 08:53:06               7           7    97.8       True
 8 2019-01-01 12:34:32               8           8   105.4       True
 9 2019-01-22 08:25:39               9           9    71.4      False}

---

In [28]:
model1.save('my_test_hma1_model.pkl')

In [30]:
loaded = HMA1.load('my_test_hma1_model.pkl')

dict_keys(['users', 'sessions', 'transactions'])

In [65]:
new_data = loaded.sample(num_rows=1000)
new_data.keys()

TypeError: sample() got an unexpected keyword argument 'num_sequences'

In [ ]:
new_data.keys()

---

## Timeseries

In [1]:
from sdv.demo import load_timeseries_demo

data = load_timeseries_demo()

In [2]:
data.drop_duplicates(subset = 'Symbol')

,Symbol,Date,Open,Close,Volume,MarketCap,Sector,Industry
0,AAPL,2018-12-31,39.632500,39.435001,140014000,7.378734e+11,Technology,Computer Manufacturing
252,AMZN,2018-12-31,1510.800049,1501.969971,6954500,4.035002e+11,Consumer Services,Catalog/Specialty Distribution
504,MSFT,2018-12-31,101.290001,101.570000,33173800,5.021349e+11,Technology,Computer Software: Prepackaged Software
756,FB,2018-12-31,134.449997,131.089996,24625300,4.055800e+11,Technology,"Computer Software: Programming, Data Processing"
1008,TSLA,2018-12-31,67.557999,66.559998,31511500,4.254519e+10,Capital Goods,Auto Manufacturing
...,...,...,...,...,...,...,...,...
24621,WDC,2018-12-31,38.040001,36.970001,6960500,2.252135e+10,Technology,Electronic Components
24873,FOXA,2019-03-12,38.000000,38.000000,10000,3.848403e+10,Consumer Services,Television Services
25077,LBTYK,2018-12-31,20.629999,20.639999,4205300,3.082179e+10,Consumer Services,Television Services
25329,FOX,2019-03-13,38.599998,39.200001,306000,5.715378e+10,Consumer Services,Television Services
25532,LBTYA,2018-12-31,21.450001,21.340000,1507800,3.143930e+10,Consumer Services,Television Services

In [3]:
data.loc[data['Symbol'] == "MSFT"].drop_duplicates(subset = 'Sector')

,Symbol,Date,Open,Close,Volume,MarketCap,Sector,Industry
504,MSFT,2018-12-31,101.290001,101.57,33173800,5.021349e+11,Technology,Computer Software: Prepackaged Software

In [4]:
data.loc[data['Symbol'] == "MSFT"]

,Symbol,Date,Open,Close,Volume,MarketCap,Sector,Industry
504,MSFT,2018-12-31,101.290001,101.570000,33173800,5.021349e+11,Technology,Computer Software: Prepackaged Software
505,MSFT,2019-01-02,99.550003,101.120003,35329300,5.021349e+11,Technology,Computer Software: Prepackaged Software
506,MSFT,2019-01-03,100.099998,97.400002,42579100,5.021349e+11,Technology,Computer Software: Prepackaged Software
507,MSFT,2019-01-04,99.720001,101.930000,44060600,5.021349e+11,Technology,Computer Software: Prepackaged Software
508,MSFT,2019-01-07,101.639999,102.059998,35656100,5.021349e+11,Technology,Computer Software: Prepackaged Software
...,...,...,...,...,...,...,...,...
751,MSFT,2019-12-23,158.119995,157.410004,17718200,5.021349e+11,Technology,Computer Software: Prepackaged Software
752,MSFT,2019-12-24,157.479996,157.380005,8989200,5.021349e+11,Technology,Computer Software: Prepackaged Software
753,MSFT,2019-12-26,157.559998,158.669998,14520600,5.021349e+11,Technology,Computer Software: Prepackaged Software
754,MSFT,2019-12-27,159.449997,158.960007,18412800,5.021349e+11,Technology,Computer Software: Prepackaged Software
755,MSFT,2019-12-30,158.990005,157.589996,16348400,5.021349e+11,Technology,Computer Software: Prepackaged Software

In [5]:
from sdv.timeseries import PAR

In [6]:
entity_columns = ['Symbol']
context_columns = ['MarketCap', 'Sector', 'Industry']
sequence_index = 'Date'

In [7]:
model = PAR(entity_columns=entity_columns,context_columns=context_columns,sequence_index=sequence_index,)

In [8]:
model.fit(data)

In [9]:
model.sample(num_sequences=2)

,Symbol,Date,Open,Close,Volume,MarketCap,Sector,Industry
0,a,2018-12-30,124.841412,183.531971,-11037383,1.311793e+11,Consumer Services,Biotechnology: Laboratory Analytical Instruments
1,a,2019-01-05,183.437196,138.889840,15797950,1.311793e+11,Consumer Services,Biotechnology: Laboratory Analytical Instruments
2,a,2019-01-02,104.851195,90.403166,18326082,1.311793e+11,Consumer Services,Biotechnology: Laboratory Analytical Instruments
3,a,2019-01-06,89.910014,89.400018,17296210,1.311793e+11,Consumer Services,Biotechnology: Laboratory Analytical Instruments
4,a,2019-01-05,65.877584,61.563537,7881282,1.311793e+11,Consumer Services,Biotechnology: Laboratory Analytical Instruments
...,...,...,...,...,...,...,...,...
499,b,2019-12-24,496.597701,516.605196,209859,3.967507e+10,NaN,Computer Software: Prepackaged Software
500,b,2019-12-27,593.585645,534.118773,1193021,3.967507e+10,NaN,Computer Software: Prepackaged Software
501,b,2019-12-30,560.863912,489.820223,-2999935,3.967507e+10,NaN,Computer Software: Prepackaged Software
502,b,2019-12-30,504.461542,555.309370,-700853,3.967507e+10,NaN,Computer Software: Prepackaged Software
503,b,2020-01-01,561.665314,521.743637,-3854106,3.967507e+10,NaN,Computer Software: Prepackaged Software